live:
  host: drutopia.org
  paths:
    drush-script: /home/{{ drutopia_member }}_live/site/vendor/bin/drush
  root: /home/{{ drutopia_member }}_live/site/web
  uri: 'https://{{ drutopia_member|replace('_','-') }}-live.drutopia.org/'
  user: {{ drutopia_member }}_live
test:
    host: drutopia.org
    paths:
      drush-script: /home/{{ drutopia_member }}_test/site/vendor/bin/drush
    root: /home/{{ drutopia_member }}_test/site/web
    uri: 'https://{{ drutopia_member|replace('_','-') }}-test.drutopia.org/'
    user: {{ drutopia_member }}_test
